<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	
	<resultMap id="QnaboardResultMap" type="QnaBoard">
  		<result property="q_no" column="q_no"/>
  		<result property="q_title" column="q_title"/>
  		<result property="q_content" column="q_content"/>
  		<result property="q_read_cnt" column="q_read_cnt"/>
  		<result property="q_date" column="q_date"/>
  		<result property="q_writer" column="q_writer"/>
	</resultMap>
	
	
	
	<select id="selectAll" resultMap="QnaboardResultMap" resultType="QnaBoard" 
		parameterType="java.util.HashMap">
		<![CDATA[ 
		SELECT * 
		FROM (SELECT ROWNUM RNUM, q_no, 
					q_title, q_content, q_read_cnt, q_date,
					q_writer 
			   FROM (SELECT q_no, q_title, 
			   				q_content, q_read_cnt, 
			   				q_date, mem_name as q_writer 
			   		  FROM QNABOARD 
			   		  JOIN MEMBER ON (Q_WRITER=MEM_NO)
			   		  order by q_no desc)) 
		WHERE RNUM >= #{startRow} AND RNUM <= #{endRow}  
		]]>
	</select>
	
	<select id="listCount" resultType="int"> 
		<![CDATA[
			SELECT COUNT(*) FROM QNABOARD 
		]]>		
	</select>
	
	<select id="selectQbOne" resultMap="QnaboardResultMap">
		<![CDATA[
			SELECT * 
			FROM (SELECT q_no, q_title, 
			   				q_content, q_read_cnt, 
			   				q_date, mem_name as q_writer 
			   		  FROM QNABOARD 
			   		  JOIN MEMBER ON (Q_WRITER=MEM_NO)
			   		  order by q_no desc)
			WHERE q_no = #{q_no}
		]]>
	</select>
	
    <insert id="InsertQb" parameterType="QnaBoard" useGeneratedKeys="true" >
		<![CDATA[
			INSERT INTO QNABOARD VALUES (seq_qnum.nextval, #{q_title}, 
			#{q_content}, 0, SYSDATE, #{q_writer}, 2)		
		]]>
	</insert>
	
    <delete id="DeleteQb">
    	<![CDATA[
    		DELETE FROM QNABOARD WHERE Q_NO = #{q_no}
    	]]>
    </delete>
    
    <update id="RcUpdateQb">
    	<![CDATA[
    		UPDATE QNABOARD SET Q_READ_CNT = Q_READ_CNT + 1
    		WHERE Q_NO = #{q_no}
    	]]>
    </update>
    
    <update id="UpdateQb" parameterType="QnaBoard" >
    	<![CDATA[
    		UPDATE QNABOARD SET
            Q_TITLE = #{q_title}, Q_CONTENT = #{q_content} 
            WHERE Q_NO = #{q_no}
    	]]>
    </update>
    
    <select id="qbstitle" resultMap="QnaboardResultMap" resultType="list" 
		parameterType="java.util.HashMap">
    	<![CDATA[
    		SELECT * FROM (SELECT q_no, q_title, 
			   				q_content, q_read_cnt, 
			   				q_date, mem_name as q_writer 
			   		  FROM QNABOARD 
			   		  JOIN MEMBER ON (Q_WRITER=MEM_NO))
    		WHERE Q_TITLE LIKE '%'||#{q_title}||'%' 
    		ORDER BY Q_NO DESC
    	]]>
    </select>
    
    <select id="qbscontent" resultMap="QnaboardResultMap" resultType="list" 
		parameterType="java.util.HashMap">
    	<![CDATA[
    		SELECT * FROM (SELECT q_no, q_title, 
			   				q_content, q_read_cnt, 
			   				q_date, mem_name as q_writer 
			   		  FROM QNABOARD 
			   		  JOIN MEMBER ON (Q_WRITER=MEM_NO))
	  		WHERE Q_CONTENT LIKE '%'||#{q_content}||'%' 
    		ORDER BY Q_NO DESC
    	]]>
    </select>
    
    <select id="qbstc" resultMap="QnaboardResultMap" resultType="list" 
		parameterType="java.util.HashMap">
    	<![CDATA[
    		SELECT * FROM (SELECT q_no, q_title, 
			   				q_content, q_read_cnt, 
			   				q_date, mem_name as q_writer 
			   		  FROM QNABOARD 
			   		  JOIN MEMBER ON (Q_WRITER=MEM_NO))
    		WHERE Q_TITLE LIKE '%'||#{q_title}||'%' OR Q_CONTENT LIKE '%'||#{q_content}||'%' 
    		ORDER BY Q_NO DESC
    	]]>
    </select>
    
    <select id="qbswriter" resultMap="QnaboardResultMap" resultType="list" 
		parameterType="java.util.HashMap">
    	<![CDATA[
    		SELECT * FROM (SELECT q_no, q_title, 
			   				q_content, q_read_cnt, 
			   				q_date, mem_name as q_writer 
			   		  FROM QNABOARD 
			   		  JOIN MEMBER ON (Q_WRITER=MEM_NO))
    		WHERE Q_WRITER LIKE '%'||#{q_writer}||'%' 
    		ORDER BY Q_NO DESC
    	]]>
    </select>

	<resultMap id="QReplyResultMap" type="Q_Reply">
  		<result property="q_re_no" column="q_re_no"/>
  		<result property="q_no" column="q_no"/>
  		<result property="q_re_con" column="q_re_con"/>
  		<result property="q_re_date" column="q_re_date"/>
  		<result property="q_re_writer" column="q_re_writer"/>
  		<result property="mem_no" column="mem_no"/>
	</resultMap>
	
    <insert id="rinsert" parameterType="Q_Reply">
        INSERT INTO Q_REPLY VALUES (seq_qreply.NEXTVAL, #{q_no}, #{q_re_con}, sysdate, #{q_re_writer},9)
    </insert>
    
 
    <select id="qbrlist" resultMap="QReplyResultMap" resultType="Q_Reply">
        SELECT q_re_no, q_no, q_re_con, q_re_date, mem_name as q_re_writer, mem_no
        FROM Q_Reply
        JOIN MEMBER ON (mem_no=q_re_writer)
        WHERE Q_NO = #{q_no} ORDER BY Q_RE_DATE DESC
    </select> 

	<delete id="qbrdelete">
    	<![CDATA[
    		DELETE FROM Q_REPLY 
    		WHERE Q_RE_NO = #{q_re_no}
    	]]>
    </delete>






	<resultMap id="TipboardResultMap" type="Tip">
  		<result property="tip_no" column="tip_no"/>
  		<result property="tip_title" column="tip_title"/>
  		<result property="tip_content" column="tip_content"/>
  		<result property="tip_read_cnt" column="tip_read_cnt"/>
  		<result property="tip_date" column="tip_date"/>
  		<result property="tip_writer" column="tip_writer"/>
	</resultMap>
	
<resultMap id="TipResultMap" type="Tip">
  		<result property="t_re_no" column="t_re_no"/>
  		<result property="t_no" column="t_no"/>
  		<result property="t_re_con" column="t_re_con"/>
  		<result property="t_re_date" column="t_re_date"/>
  		<result property="t_re_writer" column="t_re_writer"/>
  		<result property="mem_no" column="mem_no"/>
	</resultMap>



<select id="selectAllTip" resultMap="TipboardResultMap"  
		parameterType="java.util.HashMap">
		<![CDATA[ 
		SELECT * 
		FROM (SELECT ROWNUM RNUM, TIP_no, 
					TIP_title, TIP_content, TIP_read_cnt, TIP_date,
					TIP_writer 
			   FROM (SELECT TIP_no, TIP_title, 
			   				TIP_content, TIP_read_cnt, 
			   				TIP_date, mem_name as TIP_writer 
			   		  FROM TIPBOARD 
			   		  JOIN MEMBER ON (TIP_WRITER=MEM_NO)
			   		  order by Tip_no desc)) 
		 
		]]>
	</select>
	
	<select id="listCountTip" resultType="int"> 
		<![CDATA[
			SELECT COUNT(*) FROM TIPBOARD 
		]]>		
	</select>
	
	<select id="selectQbOneTip" resultMap="TipboardResultMap" parameterType="int">
		<![CDATA[
			SELECT * 
			FROM (SELECT TIP_no, TIP_title, 
			   				TIP_content, TIP_read_cnt, 
			   				TIP_date, mem_name as TIP_writer 
			   		  FROM TIPBOARD 
			   		  JOIN MEMBER ON (TIP_WRITER=MEM_NO)
			   		  order by TIP_no desc)
			WHERE TIP_no = #{q_no}
		]]>
	</select>
	
    <insert id="InsertQbTip" parameterType="QnaBoard" useGeneratedKeys="true" >
		<![CDATA[
			INSERT INTO TIPBOARD VALUES (seq_tnum.nextval, #{q_title}, 
			#{q_content}, 0, SYSDATE, #{q_writer}, 3)		
		]]>
	</insert>
	
    <delete id="DeleteQbTip">
    	<![CDATA[
    		DELETE FROM TIPBOARD WHERE TIP_NO = #{q_no}
    	]]>
    </delete>
    
    <update id="RcUpdateQbTip">
    	<![CDATA[
    		UPDATE TIPBOARD SET TIP_READ_CNT = TIP_READ_CNT + 1
    		WHERE TIP_NO = #{q_no}
    	]]>
    </update>
    
    <update id="UpdateQbTip" parameterType="QnaBoard" >
    	<![CDATA[
    		UPDATE TIPBOARD SET
            TIP_TITLE = #{q_title}, TIP_CONTENT = #{q_content} 
            WHERE TIP_NO = #{q_no}
    	]]>
    </update>
    
    <select id="qbstitleTip" resultMap="TipboardResultMap" resultType="list" 
		parameterType="java.util.HashMap">
    	<![CDATA[
    		SELECT * FROM (SELECT TIP_no, TIP_title, 
			   				TIP_content, TIP_read_cnt, 
			   				TIP_date, mem_name as TIP_writer 
			   		  FROM TIPBOARD 
			   		  JOIN MEMBER ON (TIP_WRITER=MEM_NO))
    		WHERE TIP_TITLE LIKE '%'||#{q_title}||'%' 
    		ORDER BY TIP_NO DESC
    	]]>
    </select>
    
    <select id="qbscontentTip" resultMap="TipboardResultMap" resultType="list" 
		parameterType="java.util.HashMap">
    	<![CDATA[
    		SELECT * FROM (SELECT TIP_no,TIP_title, 
			   				TIP_content,TIP_read_cnt, 
			   				TIP_date, mem_name as TIP_writer 
			   		  FROM TIPBOARD 
			   		  JOIN MEMBER ON (TIP_WRITER=MEM_NO))
	  		WHERE TIP_CONTENT LIKE '%'||#{q_content}||'%' 
    		ORDER BY TIP_NO DESC
    	]]>
    </select>
    
    <select id="qbstcTip" resultMap="TipboardResultMap" resultType="list" 
		parameterType="java.util.HashMap">
    	<![CDATA[
    		SELECT * FROM (SELECT TIP_no, TIP_title, 
			   				TIP_content, TIP_read_cnt, 
			   				TIP_date, mem_name as TIP_writer 
			   		  FROM TIPBOARD 
			   		  JOIN MEMBER ON (Q_WRITER=MEM_NO))
    		WHERE TIP_TITLE LIKE '%'||#{q_title}||'%' OR TIP_CONTENT LIKE '%'||#{q_content}||'%' 
    		ORDER BY TIP_NO DESC
    	]]>
    </select>
    
    <select id="qbswriterTip" resultMap="TipboardResultMap" resultType="list" 
		parameterType="java.util.HashMap">
    	<![CDATA[
    		SELECT * FROM (SELECT TIP_no, TIP_title, 
			   				TIP_content, TIP_read_cnt, 
			   				TIP_date, mem_name as TIP_writer 
			   		  FROM TIPBOARD 
			   		  JOIN MEMBER ON (TIP_WRITER=MEM_NO))
    		WHERE TIP_WRITER LIKE '%'||#{q_writer}||'%' 
    		ORDER BY TIP_NO DESC
    	]]>
    </select>


    <insert id="rinsertTip" parameterType="Q_Reply">
        INSERT INTO T_REPLY VALUES (seq_treply.NEXTVAL, #{q_no}, #{q_re_con}, sysdate, #{q_re_writer},3)
    </insert>
    
 
    <select id="qbrlistTip" resultMap="TipResultMap" >
        SELECT T_re_no, t_no, t_re_con, t_re_date, mem_name as t_re_writer, mem_no
        FROM T_Reply
        JOIN MEMBER ON (mem_no=t_re_writer)
        WHERE T_NO = #{q_no} ORDER BY T_RE_DATE DESC
    </select> 

	<delete id="qbrdeleteTip">
    	<![CDATA[
    		DELETE FROM T_REPLY 
    		WHERE T_RE_NO = #{q_re_no}
    	]]>
    </delete>
</mapper>
