<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lectureMapper">
	
	<update id="addReadCount" parameterType="Lecture">
		<![CDATA[
			UPDATE LECTURE
			SET LEC_READCOUNT = LEC_READCOUNT+1
			WHERE LEC_LINK = #{videoId}
		]]>
	</update>
	
	<select id="selectReadCount" parameterType="Lecture" resultType="Lecture">
		<![CDATA[
			SELECT LEC_READCOUNT 
			FROM LECTURE
			WHERE LEC_LINK = #{videoId}
		]]>
	</select>


	<!-- 재석추가 180314 -->
	<select id="lectureView" resultType="Lecture" parameterType="Integer">
		<![CDATA[	
			select mem_name, apply_count, lec_link, lec_readcount, lec_title, lec_con, lec_date,mem_refile
			from 
			(select mem_name, apply_count, lec_link, lec_readcount, lec_title, lec_con, lec_date,t.mem_refile
			from member m
			join lecture on (mem_no=tutor_no)
			join tutorList t using (mem_no)
			where tutor_no = #{tutor_no} order by lec_date desc)
			where rownum=1
		]]>
		
	</select>

</mapper>
