<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lectureMapper">
	
	<update id="addReadCount" parameterType="Lecture">
		<![CDATA[
			UPDATE LECTURE
			SET LEC_READCOUNT = LEC_READCOUNT+1
			WHERE LEC_LINK = #{videoId}
		]]>
	</update>
	
	<select id="selectReadCount" parameterType="Lecture" resultType="Lecture">
		<![CDATA[
			SELECT LEC_READCOUNT 
			FROM LECTURE
			WHERE LEC_LINK = #{videoId}
		]]>
	</select>


	<!-- 재석추가 180314 -->
	<select id="lectureView" resultType="Lecture" parameterType="Integer">
		<![CDATA[	
			select mem_name, apply_count, lec_link, lec_readcount, lec_title, lec_con, lec_date,mem_refile
			from 
			(select mem_name, apply_count, lec_link, lec_readcount, lec_title, lec_con, lec_date,t.mem_refile
			from member m
			join lecture on (mem_no=tutor_no)
			join tutorList t using (mem_no)
			where tutor_no = #{tutor_no} order by lec_date desc)
			where rownum=1
		]]>
		
	</select>
	
	<select id="selectChannelId" resultType="String" parameterType="Integer">
		<![CDATA[
			select mem_channel_id
			from member
			join lecture on (mem_no = tutor_no)
			where tutor_no = #{tutor_no} and rownum=1
		]]>
		
	</select>
	<insert id="insertLectre"  parameterType="Lecture">
		<![CDATA[
			insert into lecture values(#{tutor_no}, lec_id.nextval, null, #{lec_con}, #{lec_link}, #{lec_title}, default, sysdate, 0)
		]]>
	</insert>
	
	<resultMap id="LectureResultMap" type="Lecture">
  		<result property="mem_name" column="mem_name"/>
  		<result property="lec_link" column="lec_link"/>
  		<result property="lec_readcount" column="lec_readcount"/>
  		<result property="lec_title" column="lec_title"/>
  		<result property="lec_con" column="lec_con"/>
  		<result property="lec_date" column="lec_date"/>
  		<result property="lec_id" column="lec_id"/>
	</resultMap>
	
	<select id="selectlectureList" resultMap="LectureResultMap" parameterType="Lecture">
		<![CDATA[
			select mem_name, lec_link, lec_readcount, lec_title, lec_con, lec_date,lec_id
			from member m
			join lecture on (mem_no=tutor_no)
			where tutor_no = #{tutor_no} order by lec_date desc
		]]>
	</select>
	
	
	<update id="applySuccess" parameterType="Lecture">
		<![CDATA[
			update apply
			set app_y = 'Y'
			where app_tutor_no = #{tutor_no} and app_student_no=(select mem_no
                                            					from member
                                            					where mem_name=#{mem_name})
		]]>
	</update>
	
	<delete id="applyFail" parameterType="Lecture">
		<![CDATA[
			delete from apply
			where app_tutor_no = #{tutor_no} and app_student_no=(select mem_no
                                            					from member
                                            					where mem_name=#{mem_name})
		]]>
	</delete>
	
	<delete id="deleteClassStudent" parameterType="Lecture">
		<![CDATA[
			delete from apply
			where app_tutor_no = #{tutor_no} and app_student_no = #{mem_no}
		]]>
	</delete>
	
	<select id="countLectureList" resultType="Integer" parameterType="Integer">
		<![CDATA[
			select count(*)
			from lecture
			where tutor_no = #{tutor_no}
		]]>
	</select>
	
</mapper>
