<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

   <resultMap id="resultmysubsc" type="Mysubsc">
      <result property="mem_no" column="mem_no" />
      <result property="app_student_no" column="app_student_no"/>
      <result property="mem_name" column="mem_name" />
      <result property="mem_refile" column="mem_refile" />
     </resultMap>
     
   <resultMap id="resultMember" type="member">
      <result property="mem_no" column="mem_no" />
      <result property="mem_id" column="mem_id" />
      <result property="app_student_no" column="app_student_no"/>
      <result property="mem_pwd" column="mem_pwd" />
      <result property="mem_name" column="mem_name" />
      <result property="mem_phone" column="mem_phone" />
      <result property="mem_age" column="mem_age" />
      <result property="mem_gen" column="mem_gen" />
      <result property="mem_birth" column="mem_birth" />
      <result property="mem_black" column="mem_black" />
      <result property="mem_cate" column="mem_cate" />
      <result property="mem_inter" column="mem_inter" />
      <result property="mem_orfile" column="mem_orfile" />
      <result property="mem_refile" column="mem_refile" />
      <result property="mem_career" column="mem_career" />
      <result property="mem_class" column="mem_class" />
      <result property="mem_content" column="mem_content" />
      <result property="mem_channel_id" column="mem_channel_id" />
    </resultMap> 
    

   <select id="loginMember" resultType="Member" parameterType="Member">
      <![CDATA[
         SELECT * FROM MEMBER 
         WHERE MEM_ID = #{mem_id} 
         AND MEM_PWD = #{mem_pwd}
      ]]>
   </select>

<!-- <select id="selectAll" resultMap="">
      <![CDATA[
      select * from member
      ]]>
   </select> -->

    <insert id="insertMember" parameterType="Member" >
      <![CDATA[
      INSERT INTO MEMBER VALUES (SEQ_MNO.NEXTVAL, #{mem_id},#{mem_pwd},
      #{mem_name}, #{mem_phone},#{mem_age}, #{mem_gen}, #{mem_birth},'N','T', #{mem_inter}, #{mem_orfile},
      #{mem_refile}, #{mem_career}, #{mem_class}, #{mem_content}, #{mem_channel_id})
      ]]>
   </insert>
   
   <insert id="insertStMember" parameterType="Member" >
      <![CDATA[
      INSERT INTO MEMBER VALUES (SEQ_MNO.NEXTVAL, #{mem_id},#{mem_pwd},
      #{mem_name}, #{mem_phone}, #{mem_age}, #{mem_gen}, #{mem_birth}, 'N','T', #{mem_inter}, #{mem_orfile},
      #{mem_refile}, #{mem_career}, #{mem_class}, #{mem_content},#{mem_channel_id})
      ]]>
   </insert>
   
   
   <!-- 지혜 아이디중복검사 -->
   <select id="checkId" parameterType="Member" resultType="int">
      <![CDATA[
         SELECT NVL(COUNT(*),0)
         FROM MEMBER WHERE MEM_ID=#{mem_id}
      ]]>
   </select>
   
   
   <!-- 준우추가 180313 -->

   <select id="mysubscribe" resultMap="resultmysubsc">
      <![CDATA[
         SELECT * FROM MYSUBSCRIBE WHERE APP_STUDENT_NO = #{mem_no}
      ]]>
   </select>
   
   <update id="updateMemberImg" parameterType="Member">
    <![CDATA[
       update member set mem_orfile = #{mem_orfile}, mem_refile = #{mem_refile} where mem_no=#{mem_no}
    ]]>
   </update>
   
   <update id="updateMemberPassword" parameterType="Member">
    <![CDATA[
       update member set mem_pwd = #{mem_pwd} where mem_no=#{mem_no}
    ]]>
   </update>
      
   <!-- 재석추가 180314 -->
   <select id="selectTutorList" resultType="Member">
      <![CDATA[
         select *
         from tutorList where lecture_count > 0 
      ]]>
   </select>

   <select id="selectTutorCount" resultType="Integer">
      <![CDATA[
         select count(*)
         from tutorList where mem_class is not null
      ]]>
   </select>
   
   <select id="selectReview" resultType="Member" parameterType="Integer">
      <![CDATA[
         select mem_refile, rev_star, rev_con, rev_date, rev_no,mem_name
         from review 
         join member on (mem_no = rev_mem_no)
         where tutor_id = #{tutor_no}
      ]]>
   </select>
   
   <select id="selectReviewCount" resultType="Integer">
      <![CDATA[
         select count(*)
         from review
         where tutor_id = #{tutor_no}
      ]]>
   </select>
   
   <insert id="apply" parameterType="Integer">
		<![CDATA[
			insert into apply values (#{tutor_no}, #{mem_no}, null)
		]]>
	</insert>
	
	<delete id="deleteApply">
		<![CDATA[
			delete from apply where app_tutor_no=#{tutor_no} and app_student_no=#{mem_no}
		]]>
	</delete>
	
	<select id="checkApply" resultType="Integer">
		<![CDATA[
			select count(*) from apply where app_tutor_no=#{tutor_no} and app_student_no=#{mem_no} and app_y='Y'
		]]>
	</select>
	<insert id="insertReview" parameterType="Member">
		<![CDATA[
			insert into review values (#{tutor_id},review_sequence.NEXTVAL,#{rev_con},sysdate,#{mem_no},1,#{rev_star})
		]]>
	</insert>
	
	<select id="checkReady" resultType="Integer">
		<![CDATA[
			select count(*) from apply where app_tutor_no=#{tutor_no} and app_student_no=#{mem_no} and app_y is null
		]]>
	</select>
	
	
	<resultMap id="today" type="Member">
      <result property="v_date" column="v_date" />
     </resultMap>
	
 	<select id="todaycheck" resultMap="today">
	      <![CDATA[
	         SELECT * FROM (SELECT * FROM VISITOR
			ORDER BY 2 desc)
			where rownum = 1
	      ]]>
   	</select>
   	
   	 <update id="updateCount" parameterType="Member">
	    <![CDATA[
	      	UPDATE VISITOR SET
			V_COUNT = (SELECT MAX(V_COUNT) + 1 FROM VISITOR
			                                 WHERE V_DATE like sysdate)
			WHERE V_DATE like SYSDATE
	    ]]>
	 </update>
   	
   	<insert id="insertCount">
   		 <![CDATA[
	      	INSERT INTO VISITOR VALUES(1,SYSDATE)
	    ]]>
   	</insert>
   	
   	<resultMap type="Member" id="studentNameList">
		<result property="mem_id" column="mem_id" />
		<result property="mem_name" column="mem_name" />
		<result property="mem_phone" column="mem_phone" />
		<result property="mem_age" column="mem_age" />
		<result property="mem_gen" column="mem_gen" />
		<result property="mem_inter" column="mem_inter" />
	</resultMap>
	
	
	<select id="selectStudentList" parameterType="java.util.HashMap" resultMap="studentNameList" resultType="list">
		<![CDATA[
			select *
			from (select rownum rnum, mem_id, mem_name, mem_age, mem_gen, mem_phone, mem_inter
			      from (select mem_id, mem_name, mem_age, mem_gen, mem_phone, mem_inter
			            from member
			            join apply a on (app_student_no = mem_no)
			            where app_tutor_no= #{tutor_no} and app_y = 'Y'))
			where rnum >= #{startRow} and rnum <= #{endRow} order by rnum desc
		]]>
	</select>
	
	<select id="countStudentList" resultType="Integer" parameterType="Integer">
		<![CDATA[
			select count(*)
			from member
			join apply on (app_student_no = mem_no)
			where app_tutor_no = #{tutor_no} and app_y = 'Y'
		]]>
	</select>
	
	<resultMap type="Member" id="memberNameList">
		<result property="mem_id" column="mem_id"/>
		<result property="mem_name" column="mem_name"/>
		<result property="mem_age" column="mem_age"/>
		<result property="mem_gen" column="mem_gen"/>
		<result property="mem_inter" column="mem_inter"/>
		<result property="mem_refile" column="mem_refile"/>
	</resultMap>
	
	<select id="applyClassList" resultMap="memberNameList" resultType="list" parameterType="java.util.HashMap"> 
		<![CDATA[ 
			select *
			from (select rownum rnum, mem_id, mem_name, mem_age, mem_gen, mem_inter, mem_refile
			      from (select mem_id, mem_name, mem_age, mem_gen, mem_inter, mem_refile
			            from member
			            where mem_no in (select app_student_no
				                		from apply
				                		where app_tutor_no = #{tutor_no} and app_y is null)))
			where rnum >= #{startRow} and rnum <= #{endRow} order by rnum desc
		]]>
	</select>
	
	<select id="countApplyList" resultType="Integer" parameterType="Integer">
		<![CDATA[
			select count(*)
			from member
			where mem_no in (select app_student_no
	                		from apply
	                		where app_tutor_no = #{tutor_no} and app_y is null)
		]]>
	</select>
</mapper>