<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MesboardMapper">
	
	<resultMap id="MesboardResultMap" type="Message">
  		<result property="mes_no" column="mes_no"/>
  		<result property="mes_title" column="mes_title"/>
  		<result property="mes_content" column="mes_content"/>
  		<result property="mes_date" column="mes_date"/>
  		<result property="mes_writer" column="mes_writer"/>
  		<result property="mes_receiver" column="mes_receiver"/>
  		<result property="mes_tcate_id" column="mes_tcate_id"/>
	</resultMap>
	
	<select id="selectAll" resultMap="MesboardResultMap" resultType="Message"
	 parameterType="int">
		<![CDATA[
				SELECT B.MES_NO, B.MES_TITLE, B.MES_CONTENT, B.MES_DATE, M.MEM_NAME AS MES_WRITER,
				N.MEM_NAME AS MES_RECEIVER, B.MES_TCATE_ID FROM MESBOARD B
				JOIN MEMBER M ON(M.MEM_NO=B.MES_WRITER)
				JOIN MEMBER N ON(N.MEM_NO=B.MES_RECEIVER)
				WHERE B.MES_WRITER = #{size} OR B.MES_RECEIVER = #{size}	
		]]>
		
		<!-- <![CDATA[ 
			SELECT * FROM 
			(SELECT ROWNUM MNUM, mes_no, mes_title, mes_content,
			  mes_date, mes_writer, mes_receiver, mes_tcate_id 
			   FROM (SELECT mes_no, mes_title, mes_content,
			  mes_date, mem_name as mes_writer, mes_receiver, mes_tcate_id  
			   		  FROM MESBOARD 
			   		  JOIN MEMBER ON (MES_WRITER=MEM_NO)
			   		  JOIN MEMBER ON (MES_RECEIVER=MEM_NO)
			   		  ORDER BY MES_NO DESC)) 
		WHERE RNUM >= #{startRow} AND RNUM <= #{endRow}
		
		]]> -->
	</select>
	
	<select id="listCount" resultType="int"> 
		<![CDATA[
			SELECT COUNT(*) FROM MESBOARD 
		]]>		
	</select>
	
</mapper>
