<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">

   <resultMap id="resultmysubsc" type="Mysubsc">
      <result property="mem_no" column="mem_no" />
      <result property="app_student_no" column="app_student_no"/>
      <result property="app_y" column="app_y"/>
      <result property="mem_name" column="mem_name" />
      <result property="mem_refile" column="mem_refile" />
     </resultMap>

  	<resultMap id="resultQnaBoardSer" type="SelectQnaboard">
		<result property="q_no" column="q_no" />
		<result property="q_title" column="q_title" />
		<result property="q_content" column="q_content" />
		<result property="q_read_cnt" column="q_read_cnt" />
		<result property="q_date" column="q_date" />
		<result property="q_writer" column="q_writer" />
		<result property="q_tcate_id" column="q_tcate_id" />
		<result property="mem_name" column="mem_name" />
		<result property="mem_no" column="mem_no" />
	</resultMap>
	
 	<resultMap id="mypageMember" type="Member">
   <result property="mem_no" column="mem_no" />
      <result property="mem_id" column="mem_id" />
      <result property="app_student_no" column="app_student_no"/>
      <result property="mem_pwd" column="mem_pwd" />
      <result property="mem_name" column="mem_name" />
	</resultMap> 

	<resultMap id="assResultMap" type="Assignment">
  		<result property="ass_no" column="ass_no"/>
  		<result property="ass_comment" column="ass_comment"/>
  		<result property="ass_reg_date" column="ass_reg_date"/>  
  		<result property="ass_date" column="ass_date"/>
  		<result property="ass_orfile" column="ass_orfile"/>  	
  		<result property="ass_refile" column="ass_refile"/>
  		<result property="ass_cate" column="ass_cate"/>  
  		<result property="ass_title" column="ass_title"/>
  		<result property="ass_cor_cnt" column="ass_cor_cnt"/>  	
  		<result property="ass_pro" column="ass_pro"/>
  		<result property="ass_answer" column="ass_answer"/>  
  		<result property="ass_hint" column="ass_hint"/>
  		<result property="ass_res_cod" column="ass_res_cod"/>  	
  		<result property="ass_res_ans" column="ass_res_ans"/>
  		<result property="ass_writer" column="ass_writer"/>  
  		<result property="ass_maker" column="ass_maker"/>
  		<result property="ass_lec_id" column="ass_lec_id"/>  	
  		<result property="ass_tcate_id" column="ass_tcate_id"/>  	
	</resultMap>
	
	<resultMap id="MysubassResultMap" type="MysubAssign">
  		<result property="mem_name" column="mem_name"/>
  		<result property="ass_title" column="ass_title"/>
  		<result property="ass_cate" column="ass_cate"/>  
  		<result property="ass_date" column="ass_date"/>
  		<result property="ass_no" column="ass_no"/>  	
  		<result property="ass_maker" column="ass_maker"/>  	
  		<result property="ass_writer" column="ass_writer"/>  	
  		<result property="ass_orfile" column="ass_orfile"/>  	
  		<result property="ass_refile" column="ass_refile"/>  	
	</resultMap>

	<select id="CurrentMemberPwd" resultType="Member" parameterType="Member">
		<![CDATA[
			SELECT mem_pwd FROM MEMBER 
			WHERE MEM_NO = #{MEM_NO} 
		]]>
	</select>
	
	<select id="getListCount" parameterType="hashmap" resultType="_int" >
		<![CDATA[
		select count(*) from myqnaboard
		]]>
		<if test="isKeyword == 1">
		<![CDATA[
		where q_title like #{keyword} and mem_no = #{mem_no}
		]]>
		</if>
		<if test="isKeyword == 0">
		<![CDATA[
		where mem_no = #{mem_no}
		]]>
		</if>
	</select>


	<select id="serviceList" parameterType="hashmap" resultType="list"	resultMap="resultQnaBoardSer">
		<![CDATA[
			select * from 
			(SELECT rownum rnum, a.* FROM myqnaboard a 
		]]>
		<if test="isKeyword == 1">
			<![CDATA[
			where q_title like #{keyword} 
			]]>
		</if>
		<![CDATA[
			order by q_no desc)
			where rnum>= #{startRow} and rnum<=#{endRow}
	  	]]>
	</select>
	
	<select id="serviceMyWrite" parameterType="hashmap" resultType="list"	resultMap="resultQnaBoardSer">
	<![CDATA[
		SELECT * from
		(SELECT rownum rnum, a.* FROM myqnaboard a 
		]]>
		<if test="isKeyword == 1">
			<![CDATA[
			where q_title like #{keyword} 
			]]>
		</if>
	
		<![CDATA[
			order by q_no desc)
			where rnum>= #{startRow} and rnum<=#{endRow}
	  	]]>
		<if test="ismemno == 1">
			<![CDATA[
			 	and mem_no = #{mem_no}
			]]>
		</if>
	</select>
	
	<update id="changeMemInter" >
		 <![CDATA[update member set mem_inter = #{mem_inter} where mem_no = #{mem_no}]]>
	</update>

	<update id="changeMemPwd" >
		 <![CDATA[update member set mem_pwd = #{mem_pwd} where mem_no = #{mem_no}]]>
	</update>

	<update id="changeMemCareer" >
		 <![CDATA[update member set mem_career = #{mem_career} where mem_no = #{mem_no}]]>
	</update>
	
	<delete id="deleteMember" parameterType="int">
		<![CDATA[
		delete from member where mem_no=#{mem_no}
		]]>
	</delete>
	
	<!-- 마이페이지 QNA 내가 쓴 글 상세보기 -->
	<select id="selectmyQnaList" parameterType="_int" resultType="SelectQnaboard"
		resultMap="resultQnaBoardSer">
	<![CDATA[
		SELECT * FROM myqnaboard where q_no = #{sno} 
	]]>
	</select>
	
<!-- 	<select id="checkOldPwd" parameterType="hashmap" resultMap="mypageMember">
	<![CDATA[
		SELECT mem_pwd from member where mem_no = ${mem_no}
		]]>
	</select>  -->

	<select id="mysubscribe" resultType="Mysubsc">
		<![CDATA[
			select * from mysubscribe where app_student_no = #{mem_no}
		]]>
	</select>
	
	<update id="updateMemberImg" parameterType="Member">
 	<![CDATA[
 		update member set mem_orfile = #{mem_orfile}, mem_refile = #{mem_refile} where mem_no=#{mem_no}
 	]]>
	</update>
	
	<update id="updateMemberPassword" parameterType="Member">
 	<![CDATA[
 		update member set mem_pwd = #{mem_pwd} where mem_no=#{mem_no}
 	]]>
	</update>
	
	<delete id="deleteMyQnaService" parameterType="int">
		<![CDATA[
		delete from qnaboard where q_no=#{sno}
		]]>
	</delete>
	
	<insert id="adminquestion" parameterType="InqBoard">
		<![CDATA[
			insert into inqboard values(seq_inqno.nextval,#{ inq_title }, #{inq_content} ,sysdate, #{inq_writer},'','','N' )
		]]>	
	</insert>
	
	<select id="myadminquestlist" resultType="InqBoard" >
		<![CDATA[
			select * from inqboard where inq_writer = #{mem_no} 
		]]>
	</select>
	
	<select id="getListCountSubAssign" parameterType="hashmap" resultType="_int" >
		<![CDATA[
		select count(*) from assignment
		]]>
		<if test="isKeyword == 1">
		<![CDATA[
		where q_title like #{keyword} and mem_no = #{mem_no}
		]]>
		</if>
		<if test="isKeyword == 0">
		<![CDATA[
		where mem_no = #{mem_no}
		]]>
		</if>
	</select>
		
	<select id="serviceMyAssign" parameterType="hashmap" resultType="list" resultMap="MysubassResultMap">
		<![CDATA[
		SELECT mem_name,ass_title,ass_cate,ASS_DATE,ASS_NO,ass_maker,ass_writer from
		(SELECT rownum rnum, a.* FROM assignment a 
		]]>
		<if test="isKeyword == 1">
			<![CDATA[
			where ASS_TITLE like #{keyword} 
			]]>
		</if>
	
		<![CDATA[
			order by ASS_NO desc)
			inner join member on mem_no = ass_maker
			where rnum> = #{startRow} and rnum< = #{endRow}
		    and ass_writer=#{mem_no}
	  	]]>
<!-- 			and ass_maker = #{ass_maker} -->
		<if test="ismemno == 1">
			<![CDATA[
			 	and ass_writer = #{mem_no}
			]]>
		</if>
	</select>
	
	<!-- 마이페이지 내가 제출한 과제 상세보기 -->
	<select id="selectmyassigndetail" parameterType="_int" resultType="MysubAssign"
		resultMap="MysubassResultMap">
	<![CDATA[
		SELECT * FROM assignment where ass_no = #{sno} 
	]]>
	</select>

</mapper>