<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.rp.finalp.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.rp.finalp.board.model.vo.QnaBoard" alias="QnaBoard" />
		<typeAlias type="com.rp.finalp.assign.model.vo.Assignment" alias="Assignment" />
		<typeAlias type="com.rp.finalp.test.model.vo.Test" alias="Test" />
		<typeAlias type="com.rp.finalp.lecture.model.vo.Lecture" alias="Lecture" />
		<typeAlias type="com.rp.finalp.mypage.model.vo.Mysubsc" alias="Mysubsc" />
		<typeAlias type="com.rp.finalp.mypage.model.vo.SelectQnaboard" alias="SelectQnaboard" />
		<typeAlias type="com.rp.finalp.board.model.vo.Q_Reply" alias="Q_Reply" />
		<typeAlias type="com.rp.finalp.board.model.vo.QnaBoard" alias="QnaBoard" />
		<typeAlias type="com.rp.finalp.admin.model.vo.Member" alias="AdminMember" />
		<typeAlias type="com.rp.finalp.admin.model.vo.Board" alias="Board" />
		<typeAlias type="com.rp.finalp.admin.model.vo.Contact" alias="Contact" />
		<typeAlias type="com.rp.finalp.admin.model.vo.Reply" alias="Reply" />
		<typeAlias type="com.rp.finalp.admin.model.vo.Keyword" alias="Keyword" />
		<typeAlias alias="Chart" type="com.rp.finalp.admin.model.vo.Chart"/>
		
	</typeAliases>

	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" /> 
		<mapper resource="mappers/assign-mapper.xml" /> 
		<mapper resource="mappers/test-mapper.xml" />
		<mapper resource="mappers/lecture-mapper.xml" />  
		<mapper resource="mappers/admin-mapper.xml" /> 
		<mapper resource="mappers/mypage-mapper.xml" /> 
	</mappers>
</configuration>
