<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.rp.finalp.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.rp.finalp.board.model.vo.QnaBoard" alias="QnaBoard" />
		<typeAlias type="com.rp.finalp.assign.model.vo.Assignment" alias="Assignment" />
		<typeAlias type="com.rp.finalp.test.model.vo.Test" alias="Test" />
		<typeAlias type="com.rp.finalp.lecture.model.vo.Lecture" alias="Lecture" />
		<typeAlias type="com.rp.finalp.common.model.vo.Mysubsc" alias="Mysubsc" />

	</typeAliases>

	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" /> 
		<mapper resource="mappers/assign-mapper.xml" /> 
		<mapper resource="mappers/test-mapper.xml" />
		<mapper resource="mappers/lecture-mapper.xml" />  
	</mappers>
</configuration>
